<header>
    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid mx-5">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">LA MIA PIZZERIA</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Cerca una pizza..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Cerca</button>
            </form>
            <partial name="_LoginPartial" />
        </div>
    </nav>
</header>
