@model PizzaModel

<div class="container">
    <h2 class="mb-3">Aggiunta di una nuova Pizza</h2>
    <form asp-controller="Pizza" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Titolo</label>
            <input asp-for="Title" type="text" class="form-control" required>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Descrizione</label>
            <textarea asp-for="Description" rows="10" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Image" class="form-label">URL Immagine</label>
            <input asp-for="Image" type="text" class="form-control" required>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Prezzo</label>
            <input asp-for="Price" type="number" class="form-control" required>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Salva</button>
    </form>
</div>